doctype html 
html 
  head
    title Contraseñas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav
      ul
           
        a(href='/logout') 
          button Cerrar Sesion
           
        a(href='/addCont') 
          button Agregar Contraseña
  
    form(action='/search', method='GET' class='search-bar')
      input(type='text', name='q', placeholder='Buscar sitios web')
      button(type='submit') Buscar
    if sitios.length > 0
      each sitio in sitios
        .contenedor-gal
          h3 #{sitio.name}
          h3 #{sitio.url}
          - const contraseniasSitio = contrasenias.filter(cont => cont.sitio_id === sitio.id)
          each cont in contraseniasSitio
            .contenedor-cont-info
              p Usuario: #{cont.usuario}
              p Contraseña: #{cont.contrasenia}
              //- form(action='/borrarContrasenia', method='POST')
              //-   input(type='hidden', name='id', value=cont.id)
              //-   button(type='submit') Eliminar Contraseña

    else
      p No se encontraron contraseñas guardadas.